.page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    justify-content: center;
    background-color: #0F172A;
    border-radius: 12px;
    border: 1px solid #334155;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.reset-icon{
   width: 100px;
    height: 100px;
    margin-bottom: -5px;
}
.input{
    background-color: #1E293B;
    color: #E2E8F0;
    border-radius: 20px;
    border: none;
    padding: 12px 16px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.button{
    background-color: #3B82F6;
    color: #E2E8F0;
    font-size: 20px;
    font-weight: lighter;
    border-radius: 16px;
    border: none;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    cursor: pointer;
}
.button:hover {
    
    transform: scale(1.03);
}
.cancel-button{
    background-color: #DC2626;
    color: #E2E8F0;
    font-size: 20px;
    font-weight: lighter;
    border-radius: 16px;
    border: none;
    width: 100%;
    margin-top: 5px;
    padding: 15px;
    cursor: pointer;
}
.cancel-button:hover {
    
    transform: scale(1.03);
}
.header{
    color: #E2E8F0;
    font-size: 35px;
}

input:focus {
    outline: none;
}